@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/swiper/swiper-bundle';
@import '../scss/keyframes';

:root {
    --black: #000;
    --white: #fff;
    --transition: .3s ease-in-out all;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    padding-left: 500px;
    background: var(--black);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    transition: var(--transition);
    color: var(--white);

    scrollbar-width: thin;
    scrollbar-color: var(--white) var(--black); // 1й цвет бугунка скролла, 2й фоновый цвет скролла

    &::before {
        transition: var(--transition);
    }

    &::after {
        transition: var(--transition);
    }

    &::-webkit-scrollbar {
        height: 12px;
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: var(--black); // фоновый цвет скролла
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--white); // цвет бегунка скролла
        border-radius: 5px;
        border: 3px solid var(--black); // фоновый цвет скролла
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 500px;
    height: 100vh;

    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        a {
            height: 70px;
            padding: 20px;
            font-size: 20px;
            text-decoration: none;

            &:hover {
                font-size: 25px;
            }
        }
    }
}

.footer {
    display: none;
}

.upButton {
    z-index: 1000;
    position: fixed;
    width: 40px;
    height: 40px;
    padding: 10px;
    bottom: 20px;
    right: 15px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    transform: scale(0);
    pointer-events: none;
    background: var(--white);
    border-radius: 50px;
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.2));

    &.show {
        transition: all 1s ease-in-out;
        transform: scale(1);
        pointer-events: all;
    }
}

.container {
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.footer {
    display: none;
}

h1 {
    margin: 0;
}

h2 {
    height: 50px;
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 40px;
    color: var(--black);
}

.widget-box {
    width: 100%;
    height: 600px;
    height: calc(100vh - 100px - 100px - 100px);
}

section {
    min-height: 100vh;
    padding: 50px 30px 50px 0;

    .container {
        height: calc(100vh - 50px - 50px);
        padding-top: 50px;
        padding-bottom: 50px;
        background: grey;
        border-radius: 20px;
    }
}

@import '../scss/hovers';
@import '../scss/1800';
@import '../scss/1700';
@import '../scss/1600';
@import '../scss/1500';
@import '../scss/1400';
@import '../scss/1300';
@import '../scss/1200';
@import '../scss/1024';
@import '../scss/992';
@import '../scss/900';
@import '../scss/768';
@import '../scss/700';
@import '../scss/600';
@import '../scss/500';
@import '../scss/360';