<footer class="footer"></footer>

<svg class="upButton" width="40" height="40" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#000">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 18V2m0 0 7 7m-7-7L3 9" />
</svg>

<script defer src="js/main.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const progressBar = document.querySelector('#loading-status-bar .progress');
        const widgets = document.querySelectorAll('.widget-box');
        const totalWidgets = widgets.length;
        let loadedWidgets = 0;

        if (totalWidgets === 0) {
            document.body.classList.add('loaded');
            return;
        }

        // Функция для обновления прогресса
        function updateProgress() {
            loadedWidgets++;
            const progress = (loadedWidgets / totalWidgets) * 100;
            progressBar.style.width = progress + '%';

            // Если все виджеты загружены
            if (loadedWidgets == totalWidgets) {
                document.body.classList.add('loaded');
            }
        }

        // Простая проверка каждые 500ms
        function checkWidgets() {
            widgets.forEach(widget => {
                widget.querySelector('iframe').addEventListener('load', updateProgress());
            });
        }

        // Запускаем проверку
        const interval = setInterval(checkWidgets, 500);

        // Останавливаем когда все загружено
        if (loadedWidgets >= totalWidgets) {
            clearInterval(interval);
        }
    })
</script>

</body>

</html>