<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@@title</title>

    <link rel="icon" type="image/svg+xml" href="images/favicon.svg">
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
    <header class="header">
        <div class="header__container">
            <a href="#manual">Инструкция</a>
            <a href="#real-time">График в реальном времени</a>
            <a href="#market-overview">Обзор рынка</a>
            <a href="#market-data">Рыночные данные</a>

            <a href="#currencies">Валюты</a>
            <a href="#stocks">Акции</a>
            <a href="#indices">Индексы</a>
            <a href="#products">Товары</a>
            <a href="#cryptocurrencies">Криптовалюты</a>
            
            <a href="#calendar">Экономический календарь</a>
            <a href="#rates">Кросс-курсы валют</a>
            <a href="#heatmap">Тепловая карта рынка форекс</a>
            <a href="#crypto-market">Рынок криптовалют</a>
            <a href="#tech-analysis">Технический анализ</a>
            <a href="#stories">Новости рынков<br>(только английский)</a>
        </div>
    </header>