<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@@title</title>

    <link rel="icon" type="image/svg+xml" href="images/favicon.svg">
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
    <header class="header">
        <div class="header__container">
            <a href="#real-time">Advanced Real-Time Chart</a>
            <a href="#overview">Market Overview</a>
            <a href="#data">Market Data</a>
            <a href="#calendar">Economic Calendar</a>
            <a href="#rates">Forex Cross Rates</a>
            <a href="#heatmap">Forex Heatmap</a>
            <a href="#crypto-market">Cryptocurrency Market</a>
            <a href="#tech-analysis">Technical Analysis</a>
            <a href="#stories">Top Stories (only english)</a>
        </div>
    </header>