<section id="crypto-market">
    <div class="container">
        <h2>Рынок криптовалют</h2>

        <div class="widget-container">
            <div class="widget-box">
                <button class="btn-copy">Скопировать код</button>

                <lazy-load>
                    <template>
                        @@include('../widgets/crypto-market.html', {
                        "colorTheme": "light",
                        "locale": "ru",
                        })
                    </template>
                </lazy-load>

                <template>
                    @@include('../widgets/crypto-market.html', {
                    "colorTheme": "light",
                    "locale": "ru",
                    })
                </template>
            </div>

            <div class="widget-box">
                <button class="btn-copy">Скопировать код</button>

                <lazy-load>
                    <template>
                        @@include('../widgets/crypto-market.html', {
                        "colorTheme": "dark",
                        "locale": "ru",
                        })
                    </template>
                </lazy-load>

                <template>
                    @@include('../widgets/crypto-market.html', {
                    "colorTheme": "dark",
                    "locale": "ru",
                    })
                </template>
            </div>

            <div class="widget-box">
                <button class="btn-copy">Скопировать код</button>

                <lazy-load>
                    <template>
                        @@include('../widgets/crypto-market.html', {
                        "colorTheme": "light",
                        "locale": "en",
                        })
                    </template>
                </lazy-load>

                <template>
                    @@include('../widgets/crypto-market.html', {
                    "colorTheme": "light",
                    "locale": "en",
                    })
                </template>
            </div>

            <div class="widget-box">
                <button class="btn-copy">Скопировать код</button>

                <lazy-load>
                    <template>
                        @@include('../widgets/crypto-market.html', {
                        "colorTheme": "dark",
                        "locale": "en",
                        })
                    </template>
                </lazy-load>

                <template>
                    @@include('../widgets/crypto-market.html', {
                    "colorTheme": "dark",
                    "locale": "en",
                    })
                </template>
            </div>
        </div>
    </div>
</section>