<section id="indices">
    <div class="container">
        <h2>Рыночные данные</h2>

        <div class="widget-container">

            <div class="widget-box">
                <button class="btn-copy">Скопировать код</button>

                <lazy-load>
                    <template>
                        @@include('../widgets/indices.html', {
                        "colorTheme": "light",
                        "locale": "ru",
                        "backgroundColor": "#ffffff",
                        "name": "Акции",
                        })
                    </template>
                </lazy-load>

                <template>
                    <div class="widget-box">
                        @@include('../widgets/indices.html', {
                        "colorTheme": "light",
                        "locale": "ru",
                        "backgroundColor": "#ffffff",
                        "name": "Акции",
                        })
                    </div>
                </template>
            </div>

            <div class="widget-box">
                <button class="btn-copy">Скопировать код</button>

                <lazy-load>
                    <template>
                        @@include('../widgets/indices.html', {
                        "colorTheme": "dark",
                        "locale": "ru",
                        "backgroundColor": "#0F0F0F",
                        "name": "Акции",
                        })
                    </template>
                </lazy-load>

                <template>
                    <div class="widget-box">
                        @@include('../widgets/indices.html', {
                        "colorTheme": "dark",
                        "locale": "ru",
                        "backgroundColor": "#0F0F0F",
                        "name": "Акции",
                        })
                    </div>
                </template>
            </div>

            <div class="widget-box">
                <button class="btn-copy">Скопировать код</button>

                <lazy-load>
                    <template>
                        @@include('../widgets/indices.html', {
                        "colorTheme": "light",
                        "locale": "en",
                        "backgroundColor": "#ffffff",
                        "name": "Indices",
                        })
                    </template>
                </lazy-load>

                <template>
                    <div class="widget-box">
                        @@include('../widgets/indices.html', {
                        "colorTheme": "light",
                        "locale": "en",
                        "backgroundColor": "#ffffff",
                        "name": "Indices",
                        })
                    </div>
                </template>
            </div>

            <div class="widget-box">
                <button class="btn-copy">Скопировать код</button>

                <lazy-load>
                    <template>
                        @@include('../widgets/indices.html', {
                        "colorTheme": "dark",
                        "locale": "en",
                        "backgroundColor": "#0F0F0F",
                        "name": "Indices",
                        })
                    </template>
                </lazy-load>

                <template>
                    <div class="widget-box">
                        @@include('../widgets/indices.html', {
                        "colorTheme": "dark",
                        "locale": "en",
                        "backgroundColor": "#0F0F0F",
                        "name": "Indices",
                        })
                    </div>
                </template>
            </div>
        </div>
    </div>
</section>