<section id="manual" class="main-hero show">
    <div class="container">
        <div>
            <h1>Виджеты TradingView</h1>

            <h2>Как установить на сайт?</h2>

            <ol>
                <li>В меню слева выбрать виджет.</li>
                <li>Навести курсором на нужный виджет и нажать "Скопировать код".</li>
                <li>В стилях прописать для класса .widget-box {width: 100%; height: 500px;}.</li>
                <li>Всё.</li>
            </ol>
        </div>
    </div>
</section>