<section id="market-overview">
    <div class="container">
        <h2>Обзор рынка</h2>

        <div class="widget-container">
            <div class="widget-box">
                <button class="btn-copy">Скопировать код</button>

                <lazy-load>
                    <template>
                        @@include('../widgets/market-overview.html', {
                        "colorTheme": "light",
                        "locale": "ru",
                        "scaleFontColor": "#0f0f0f",
                        "title_1": "Валюты",
                        "title_2": "Сырье",
                        "title_3": "Криптовалюты",
                        "title_4": "Индексы",
                        "title_5": "Акции США",
                        })
                    </template>
                </lazy-load>

                <template>
                    @@include('../widgets/market-overview.html', {
                    "colorTheme": "light",
                    "locale": "ru",
                    "scaleFontColor": "#0f0f0f",
                    "title_1": "Валюты",
                    "title_2": "Сырье",
                    "title_3": "Криптовалюты",
                    "title_4": "Индексы",
                    "title_5": "Акции США",
                    })
                </template>
            </div>

            <div class="widget-box">
                <button class="btn-copy">Скопировать код</button>

                <lazy-load>
                    <template>
                        @@include('../widgets/market-overview.html', {
                        "colorTheme": "dark",
                        "locale": "ru",
                        "scaleFontColor": "#DBDBDB",
                        "title_1": "Валюты",
                        "title_2": "Сырье",
                        "title_3": "Криптовалюты",
                        "title_4": "Индексы",
                        "title_5": "Акции США",
                        })
                    </template>
                </lazy-load>

                <template>
                    @@include('../widgets/market-overview.html', {
                    "colorTheme": "dark",
                    "locale": "ru",
                    "scaleFontColor": "#DBDBDB",
                    "title_1": "Валюты",
                    "title_2": "Сырье",
                    "title_3": "Криптовалюты",
                    "title_4": "Индексы",
                    "title_5": "Акции США",
                    })
                </template>
            </div>

            <div class="widget-box">
                <button class="btn-copy">Скопировать код</button>

                <lazy-load>
                    <template>
                        @@include('../widgets/market-overview.html', {
                        "colorTheme": "light",
                        "locale": "en",
                        "scaleFontColor": "#0f0f0f",
                        "title_1": "Currencies",
                        "title_2": "Commodities",
                        "title_3": "Crypto",
                        "title_4": "Indices",
                        "title_5": "US Stocks",
                        })
                    </template>
                </lazy-load>

                <template>
                    @@include('../widgets/market-overview.html', {
                    "colorTheme": "light",
                    "locale": "en",
                    "scaleFontColor": "#0f0f0f",
                    "title_1": "Currencies",
                    "title_2": "Commodities",
                    "title_3": "Crypto",
                    "title_4": "Indices",
                    "title_5": "US Stocks",
                    })
                </template>
            </div>

            <div class="widget-box">
                <button class="btn-copy">Скопировать код</button>

                <lazy-load>
                    <template>
                        @@include('../widgets/market-overview.html', {
                        "colorTheme": "dark",
                        "locale": "en",
                        "scaleFontColor": "#DBDBDB",
                        "title_1": "Currencies",
                        "title_2": "Commodities",
                        "title_3": "Crypto",
                        "title_4": "Indices",
                        "title_5": "US Stocks",
                        })
                    </template>
                </lazy-load>

                <template>
                    @@include('../widgets/market-overview.html', {
                    "colorTheme": "dark",
                    "locale": "en",
                    "scaleFontColor": "#DBDBDB",
                    "title_1": "Currencies",
                    "title_2": "Commodities",
                    "title_3": "Crypto",
                    "title_4": "Indices",
                    "title_5": "US Stocks",
                    })
                </template>
            </div>
        </div>
    </div>
</section>