<section id="market-data">
    <div class="container">
        <h2>Рыночные данные</h2>

        <div class="widget-container">

            <div class="widget-box">
                <button class="btn-copy">Скопировать код</button>

                @@include('../widgets/market-data.html', {
                "colorTheme": "light",
                "locale": "ru",
                "backgroundColor": "#ffffff",
                "name_1": "Металлы",
                "name_2": "Энергоносители",
                "name_3": "Сырье",
                "name_4": "Валюты",
                })

                <template>
                    @@include('../widgets/market-data.html', {
                    "colorTheme": "light",
                    "locale": "en",
                    "backgroundColor": "#ffffff",
                    "name_1": "Металлы",
                    "name_2": "Энергоносители",
                    "name_3": "Сырье",
                    "name_4": "Валюты",
                    })
                </template>
            </div>

            <div class="widget-box">
                <button class="btn-copy">Скопировать код</button>

                @@include('../widgets/market-data.html', {
                "colorTheme": "dark",
                "locale": "ru",
                "backgroundColor": "#0F0F0F",
                "name_1": "Металлы",
                "name_2": "Энергоносители",
                "name_3": "Сырье",
                "name_4": "Валюты",
                })

                <template>
                    @@include('../widgets/market-data.html', {
                    "colorTheme": "dark",
                    "locale": "en",
                    "backgroundColor": "#0F0F0F",
                    "name_1": "Металлы",
                    "name_2": "Энергоносители",
                    "name_3": "Сырье",
                    "name_4": "Валюты",
                    })
                </template>
            </div>

            <div class="widget-box">
                <button class="btn-copy">Скопировать код</button>

                @@include('../widgets/market-data.html', {
                "colorTheme": "light",
                "locale": "en",
                "backgroundColor": "#ffffff",
                "name_1": "Metals",
                "name_2": "Energy carriers",
                "name_3": "Commodities",
                "name_4": "Currencies",
                })

                <template>
                    @@include('../widgets/market-data.html', {
                    "colorTheme": "light",
                    "locale": "en",
                    "backgroundColor": "#ffffff",
                    "name_1": "Metals",
                    "name_2": "Energy carriers",
                    "name_3": "Commodities",
                    "name_4": "Currencies",
                    })
                </template>
            </div>

            <div class="widget-box">
                <button class="btn-copy">Скопировать код</button>

                @@include('../widgets/market-data.html', {
                "colorTheme": "dark",
                "locale": "en",
                "backgroundColor": "#0F0F0F",
                "name_1": "Metals",
                "name_2": "Energy carriers",
                "name_3": "Commodities",
                "name_4": "Currencies",
                })

                <template>
                    @@include('../widgets/market-data.html', {
                    "colorTheme": "dark",
                    "locale": "en",
                    "backgroundColor": "#0F0F0F",
                    "name_1": "Metals",
                    "name_2": "Energy carriers",
                    "name_3": "Commodities",
                    "name_4": "Currencies",
                    })
                </template>
            </div>
        </div>
    </div>
</section>