<section id="real-time">
    <div class="container">
        <h2>График в реальном времени</h2>

        <div class="widget-container">
            <div class="widget-box">
                <button class="btn-copy">Скопировать код</button>

                <lazy-load>
                    <template>
                        @@include('../widgets/real-time.html', {
                        "locale": "ru",
                        "theme": "light",
                        "backgroundColor": "#ffffff",
                        "gridColor": "rgba(46, 46, 46, 0.06)",
                        })
                    </template>
                </lazy-load>

                <template>
                    <div class="widget-box">
                        @@include('../widgets/real-time.html', {
                        "locale": "ru",
                        "theme": "light",
                        "backgroundColor": "#ffffff",
                        "gridColor": "rgba(46, 46, 46, 0.06)",
                        })
                    </div>
                </template>
            </div>

            <div class="widget-box">
                <button class="btn-copy">Скопировать код</button>

                <lazy-load>
                    <template>
                        @@include('../widgets/real-time.html', {
                        "locale": "ru",
                        "theme": "dark",
                        "backgroundColor": "#0F0F0F",
                        "gridColor": "rgba(242, 242, 242, 0.06)",
                        })
                    </template>
                </lazy-load>

                <template>
                    <div class="widget-box">
                        @@include('../widgets/real-time.html', {
                        "locale": "ru",
                        "theme": "dark",
                        "backgroundColor": "#0F0F0F",
                        "gridColor": "rgba(242, 242, 242, 0.06)",
                        })
                    </div>
                </template>
            </div>

            <div class="widget-box">
                <button class="btn-copy">Скопировать код</button>

                <lazy-load>
                    <template>
                        @@include('../widgets/real-time.html', {
                        "locale": "en",
                        "theme": "light",
                        "backgroundColor": "#ffffff",
                        "gridColor": "rgba(46, 46, 46, 0.06)",
                        })
                    </template>
                </lazy-load>

                <template>
                    <div class="widget-box">
                        @@include('../widgets/real-time.html', {
                        "locale": "en",
                        "theme": "light",
                        "backgroundColor": "#ffffff",
                        "gridColor": "rgba(46, 46, 46, 0.06)",
                        })
                    </div>
                </template>
            </div>

            <div class="widget-box">
                <button class="btn-copy">Скопировать код</button>

                <lazy-load>
                    <template>
                        @@include('../widgets/real-time.html', {
                        "locale": "en",
                        "theme": "dark",
                        "backgroundColor": "#0F0F0F",
                        "gridColor": "rgba(242, 242, 242, 0.06)",
                        })
                    </template>
                </lazy-load>

                <template>
                    <div class="widget-box">
                        @@include('../widgets/real-time.html', {
                        "locale": "en",
                        "theme": "dark",
                        "backgroundColor": "#0F0F0F",
                        "gridColor": "rgba(242, 242, 242, 0.06)",
                        })
                    </div>
                </template>
            </div>
        </div>
    </div>
</section>