<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-quotes.js" async>
        {
            "colorTheme": "@@colorTheme",
            "locale": "@@locale",
            "largeChartUrl": "",
            "isTransparent": false,
            "showSymbolLogo": true,
            "backgroundColor": "@@backgroundColor",
            "support_host": "https://www.tradingview.com",
            "width": "100%",
            "height": "100%",
            "symbolsGroups": [{
                "name": "@@name",
                "symbols": [{
                        "name": "FX:EURUSD",
                        "displayName": ""
                    },
                    {
                        "name": "FX:GBPUSD",
                        "displayName": ""
                    },
                    {
                        "name": "FX:USDJPY",
                        "displayName": ""
                    },
                    {
                        "name": "FX:USDCHF",
                        "displayName": ""
                    },
                    {
                        "name": "FX:USDCAD",
                        "displayName": ""
                    },
                    {
                        "name": "FX:AUDUSD",
                        "displayName": ""
                    },
                    {
                        "name": "FX:EURJPY",
                        "displayName": ""
                    },
                    {
                        "name": "FX:EURGBP",
                        "displayName": ""
                    }
                ]
            }]
        }
    </script>
</div>
<!-- TradingView Widget END -->