<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
        {
            "colorTheme": "@@colorTheme",
                "dateRange": "12M",
                    "locale": "@@locale",
                        "largeChartUrl": "",
                            "isTransparent": false,
                                "showFloatingTooltip": false,
                                    "plotLineColorGrowing": "rgba(41, 98, 255, 1)",
                                        "plotLineColorFalling": "rgba(41, 98, 255, 1)",
                                            "gridLineColor": "rgba(240, 243, 250, 0)",
                                                "scaleFontColor": "@@scaleFontColor",
                                                    "belowLineFillColorGrowing": "rgba(41, 98, 255, 0.12)",
                                                        "belowLineFillColorFalling": "rgba(41, 98, 255, 0.12)",
                                                            "belowLineFillColorGrowingBottom": "rgba(41, 98, 255, 0)",
                                                                "belowLineFillColorFallingBottom": "rgba(41, 98, 255, 0)",
                                                                    "symbolActiveColor": "rgba(41, 98, 255, 0.12)",
                                                                        "tabs": [
                                                                            {
                                                                                "title": "@@title_1",
                                                                                "symbols": [{
                                                                                    "s": "FX:EURUSD",
                                                                                    "d": "",
                                                                                    "base-currency-logoid": "country/EU",
                                                                                    "currency-logoid": "country/US"
                                                                                },
                                                                                {
                                                                                    "s": "FX:EURCAD",
                                                                                    "d": "",
                                                                                    "base-currency-logoid": "country/EU",
                                                                                    "currency-logoid": "country/CA"
                                                                                },
                                                                                {
                                                                                    "s": "FX:USDCAD",
                                                                                    "d": "",
                                                                                    "base-currency-logoid": "country/US",
                                                                                    "currency-logoid": "country/CA"
                                                                                },
                                                                                {
                                                                                    "s": "FX:USDJPY",
                                                                                    "d": "",
                                                                                    "base-currency-logoid": "country/US",
                                                                                    "currency-logoid": "country/JP"
                                                                                },
                                                                                {
                                                                                    "s": "FX:GBPUSD",
                                                                                    "d": "",
                                                                                    "base-currency-logoid": "country/GB",
                                                                                    "currency-logoid": "country/US"
                                                                                },
                                                                                {
                                                                                    "s": "FX:GBPUSD",
                                                                                    "d": "",
                                                                                    "base-currency-logoid": "country/GB",
                                                                                    "currency-logoid": "country/US"
                                                                                },
                                                                                {
                                                                                    "s": "FX:EURCHF",
                                                                                    "d": "",
                                                                                    "base-currency-logoid": "country/EU",
                                                                                    "currency-logoid": "country/CH"
                                                                                },
                                                                                {
                                                                                    "s": "FX:USDCHF",
                                                                                    "d": "",
                                                                                    "base-currency-logoid": "country/US",
                                                                                    "currency-logoid": "country/CH"
                                                                                },
                                                                                {
                                                                                    "s": "FX:AUDUSD",
                                                                                    "d": "",
                                                                                    "base-currency-logoid": "country/AU",
                                                                                    "currency-logoid": "country/US"
                                                                                },
                                                                                {
                                                                                    "s": "FX:EURCHF",
                                                                                    "d": "",
                                                                                    "base-currency-logoid": "country/EU",
                                                                                    "currency-logoid": "country/CH"
                                                                                }
                                                                                ],
                                                                                "originalTitle": "Indices"
                                                                            },
                                                                            {
                                                                                "title": "@@title_2",
                                                                                "symbols": [{
                                                                                    "s": "CAPITALCOM:GOLD",
                                                                                    "d": "Gold (XAUUSD)",
                                                                                    "logoid": "metal/gold",
                                                                                    "currency-logoid": "country/US"
                                                                                },
                                                                                {
                                                                                    "s": "CAPITALCOM:SILVER",
                                                                                    "d": "",
                                                                                    "logoid": "metal/silver",
                                                                                    "currency-logoid": "country/US"
                                                                                },
                                                                                {
                                                                                    "s": "PEPPERSTONE:ALUMINIUM",
                                                                                    "d": "",
                                                                                    "logoid": "metal/aluminum",
                                                                                    "currency-logoid": "country/US"
                                                                                },
                                                                                {
                                                                                    "s": "CAPITALCOM:PALLADIUM",
                                                                                    "d": "",
                                                                                    "logoid": "metal/palladium",
                                                                                    "currency-logoid": "country/US"
                                                                                },
                                                                                {
                                                                                    "s": "BLACKBULL:WTI",
                                                                                    "d": "",
                                                                                    "logoid": "crude-oil",
                                                                                    "currency-logoid": "country/US"
                                                                                },
                                                                                {
                                                                                    "s": "CAPITALCOM:PLATINUM",
                                                                                    "d": "",
                                                                                    "logoid": "metal/platinum",
                                                                                    "currency-logoid": "country/US"
                                                                                },
                                                                                {
                                                                                    "s": "CAPITALCOM:NICKEL",
                                                                                    "d": "",
                                                                                    "logoid": "metal/nickel",
                                                                                    "currency-logoid": "country/US"
                                                                                },
                                                                                {
                                                                                    "s": "BLACKBULL:BRENT",
                                                                                    "d": "",
                                                                                    "logoid": "crude-oil",
                                                                                    "currency-logoid": "country/US"
                                                                                },
                                                                                {
                                                                                    "s": "PEPPERSTONE:NATGAS",
                                                                                    "d": "",
                                                                                    "logoid": "natural-gas",
                                                                                    "currency-logoid": "country/US"
                                                                                },
                                                                                {
                                                                                    "s": "TRADENATION:COFFEE",
                                                                                    "d": "",
                                                                                    "logoid": "commodity/coffee",
                                                                                    "currency-logoid": "country/US"
                                                                                }
                                                                                ],
                                                                                "originalTitle": "Futures"
                                                                            },
                                                                            {
                                                                                "title": "@@title_3",
                                                                                "symbols": [{
                                                                                    "s": "BINANCE:ETHBTC",
                                                                                    "d": "",
                                                                                    "base-currency-logoid": "crypto/XTVCETH",
                                                                                    "currency-logoid": "crypto/XTVCBTC"
                                                                                },
                                                                                {
                                                                                    "s": "COINBASE:BTCEUR",
                                                                                    "d": "",
                                                                                    "base-currency-logoid": "crypto/XTVCBTC",
                                                                                    "currency-logoid": "country/EU"
                                                                                },
                                                                                {
                                                                                    "s": "COINBASE:ETHUSD",
                                                                                    "d": "",
                                                                                    "base-currency-logoid": "crypto/XTVCETH",
                                                                                    "currency-logoid": "country/US"
                                                                                },
                                                                                {
                                                                                    "s": "COINBASE:BTCUSD",
                                                                                    "d": "",
                                                                                    "base-currency-logoid": "crypto/XTVCBTC",
                                                                                    "currency-logoid": "country/US"
                                                                                },
                                                                                {
                                                                                    "s": "BINANCE:LTCBTC",
                                                                                    "d": "",
                                                                                    "base-currency-logoid": "crypto/XTVCLTC",
                                                                                    "currency-logoid": "crypto/XTVCBTC"
                                                                                },
                                                                                {
                                                                                    "s": "CAPITALCOM:LTCEUR",
                                                                                    "d": "",
                                                                                    "base-currency-logoid": "crypto/XTVCLTC",
                                                                                    "currency-logoid": "country/EU"
                                                                                },
                                                                                {
                                                                                    "s": "CAPITALCOM:LTCUSD",
                                                                                    "d": "",
                                                                                    "base-currency-logoid": "crypto/XTVCLTC",
                                                                                    "currency-logoid": "country/US"
                                                                                },
                                                                                {
                                                                                    "s": "COINBASE:SOLUSD",
                                                                                    "d": "",
                                                                                    "base-currency-logoid": "crypto/XTVCSOL",
                                                                                    "currency-logoid": "country/US"
                                                                                },
                                                                                {
                                                                                    "s": "COINBASE:DOGEUSD",
                                                                                    "d": "",
                                                                                    "base-currency-logoid": "crypto/XTVCDOGE",
                                                                                    "currency-logoid": "country/US"
                                                                                },
                                                                                {
                                                                                    "s": "BINANCE:XRPEUR",
                                                                                    "d": "",
                                                                                    "base-currency-logoid": "crypto/XTVCXRP",
                                                                                    "currency-logoid": "country/EU"
                                                                                }
                                                                                ],
                                                                                "originalTitle": "Bonds"
                                                                            },
                                                                            {
                                                                                "title": "@@title_4",
                                                                                "symbols": [{
                                                                                    "s": "NASDAQ:NDX",
                                                                                    "d": "",
                                                                                    "logoid": "indices/nasdaq-100",
                                                                                    "currency-logoid": "country/US"
                                                                                },
                                                                                {
                                                                                    "s": "CAPITALCOM:DXY",
                                                                                    "d": "",
                                                                                    "logoid": "indices/u-s-dollar-index",
                                                                                    "currency-logoid": "country/US"
                                                                                },
                                                                                {
                                                                                    "s": "INDEX:CAC40",
                                                                                    "d": "CAC40 Index",
                                                                                    "logoid": "indices/cac-40",
                                                                                    "currency-logoid": "country/EU"
                                                                                },
                                                                                {
                                                                                    "s": "XETR:DAX",
                                                                                    "d": "Xetra DAX Index",
                                                                                    "logoid": "indices/dax",
                                                                                    "currency-logoid": "country/EU"
                                                                                },
                                                                                {
                                                                                    "s": "ICMARKETS:JP225",
                                                                                    "d": "Nikkei 225 Index",
                                                                                    "currency-logoid": "country/JP"
                                                                                },
                                                                                {
                                                                                    "s": "SPREADEX:SPX",
                                                                                    "d": "S&P 500 Index",
                                                                                    "currency-logoid": "country/US"
                                                                                },
                                                                                {
                                                                                    "s": "CAPITALCOM:UK100",
                                                                                    "d": "",
                                                                                    "logoid": "indices/uk-100",
                                                                                    "currency-logoid": "country/GB"
                                                                                },
                                                                                {
                                                                                    "s": "RUS:RTSI",
                                                                                    "d": "",
                                                                                    "logoid": "country/RU",
                                                                                    "currency-logoid": "country/US"
                                                                                }
                                                                                ],
                                                                                "originalTitle": "Forex"
                                                                            },
                                                                            {
                                                                                "title": "@@title_5",
                                                                                "symbols": [{
                                                                                    "s": "NASDAQ:AAPL",
                                                                                    "d": "",
                                                                                    "logoid": "apple",
                                                                                    "currency-logoid": "country/US"
                                                                                },
                                                                                {
                                                                                    "s": "GETTEX:FDX",
                                                                                    "d": "",
                                                                                    "logoid": "fedex",
                                                                                    "currency-logoid": "country/EU"
                                                                                },
                                                                                {
                                                                                    "s": "NYSE:GM",
                                                                                    "d": "",
                                                                                    "logoid": "general-motors",
                                                                                    "currency-logoid": "country/US"
                                                                                },
                                                                                {
                                                                                    "s": "NASDAQ:TSLA",
                                                                                    "d": "",
                                                                                    "logoid": "tesla",
                                                                                    "currency-logoid": "country/US"
                                                                                },
                                                                                {
                                                                                    "s": "VIE:XOM",
                                                                                    "d": "",
                                                                                    "logoid": "exxon",
                                                                                    "currency-logoid": "country/EU"
                                                                                },
                                                                                {
                                                                                    "s": "NASDAQ:NVDA",
                                                                                    "d": "",
                                                                                    "logoid": "nvidia",
                                                                                    "currency-logoid": "country/US"
                                                                                },
                                                                                {
                                                                                    "s": "NASDAQ:AMZN",
                                                                                    "d": "",
                                                                                    "logoid": "amazon",
                                                                                    "currency-logoid": "country/US"
                                                                                },
                                                                                {
                                                                                    "s": "NASDAQ:MSFT",
                                                                                    "d": "",
                                                                                    "logoid": "microsoft",
                                                                                    "currency-logoid": "country/US"
                                                                                },
                                                                                {
                                                                                    "s": "NASDAQ:INTC",
                                                                                    "d": "",
                                                                                    "logoid": "intel",
                                                                                    "currency-logoid": "country/US"
                                                                                },
                                                                                {
                                                                                    "s": "NASDAQ:GOOG",
                                                                                    "d": "",
                                                                                    "logoid": "alphabet",
                                                                                    "currency-logoid": "country/US"
                                                                                }
                                                                                ]
                                                                            }
                                                                        ],
                                                                            "support_host": "https://www.tradingview.com",
                                                                                "backgroundColor": "#0f0f0f",
                                                                                    "width": "100%",
                                                                                        "height": "100%",
                                                                                            "showSymbolLogo": true,
                                                                                                "showChart": true
        }
    </script>
</div>
<!-- TradingView Widget END -->