<section id="tech-analysis">
    <div class="container">
        <h2>Технический анализ</h2>

        <div class="widget-container">
            <div class="widget-box">
                <button class="btn-copy">Скопировать код</button>

                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container">
                    <div class="tradingview-widget-container__widget"></div>
                    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
                        {
                            "colorTheme": "light",
                                "displayMode": "single",
                                    "isTransparent": false,
                                        "locale": "ru",
                                            "interval": "1m",
                                                "disableInterval": false,
                                                    "width": "100%",
                                                        "height": "100%",
                                                            "symbol": "OANDA:EURUSD",
                                                                "showIntervalTabs": true
                        }
                    </script>
                </div>
                <!-- TradingView Widget END -->

                <template>
                    <!-- TradingView Widget BEGIN -->
                    <div class="tradingview-widget-container">
                        <div class="tradingview-widget-container__widget"></div>
                        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
                            {
                                "colorTheme": "light",
                                    "displayMode": "single",
                                        "isTransparent": false,
                                            "locale": "ru",
                                                "interval": "1m",
                                                    "disableInterval": false,
                                                        "width": "100%",
                                                            "height": "100%",
                                                                "symbol": "OANDA:EURUSD",
                                                                    "showIntervalTabs": true
                            }
                        </script>
                    </div>
                    <!-- TradingView Widget END -->
                </template>
            </div>

            <div class="widget-box">
                <button class="btn-copy">Скопировать код</button>

                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container">
                    <div class="tradingview-widget-container__widget"></div>
                    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
                        {
                            "colorTheme": "dark",
                                "displayMode": "single",
                                    "isTransparent": false,
                                        "locale": "ru",
                                            "interval": "1m",
                                                "disableInterval": false,
                                                    "width": "100%",
                                                        "height": "100%",
                                                            "symbol": "OANDA:EURUSD",
                                                                "showIntervalTabs": true
                        }
                    </script>
                </div>
                <!-- TradingView Widget END -->

                <template>
                    <!-- TradingView Widget BEGIN -->
                    <div class="tradingview-widget-container">
                        <div class="tradingview-widget-container__widget"></div>
                        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
                            {
                                "colorTheme": "dark",
                                    "displayMode": "single",
                                        "isTransparent": false,
                                            "locale": "ru",
                                                "interval": "1m",
                                                    "disableInterval": false,
                                                        "width": "100%",
                                                            "height": "100%",
                                                                "symbol": "OANDA:EURUSD",
                                                                    "showIntervalTabs": true
                            }
                        </script>
                    </div>
                    <!-- TradingView Widget END -->
                </template>
            </div>

            <div class="widget-box">
                <button class="btn-copy">Скопировать код</button>

                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container">
                    <div class="tradingview-widget-container__widget"></div>
                    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
                        {
                            "colorTheme": "light",
                                "displayMode": "single",
                                    "isTransparent": false,
                                        "locale": "en",
                                            "interval": "1m",
                                                "disableInterval": false,
                                                    "width": "100%",
                                                        "height": "100%",
                                                            "symbol": "OANDA:EURUSD",
                                                                "showIntervalTabs": true
                        }
                    </script>
                </div>
                <!-- TradingView Widget END -->

                <template>
                    <!-- TradingView Widget BEGIN -->
                    <div class="tradingview-widget-container">
                        <div class="tradingview-widget-container__widget"></div>
                        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
                            {
                                "colorTheme": "light",
                                    "displayMode": "single",
                                        "isTransparent": false,
                                            "locale": "en",
                                                "interval": "1m",
                                                    "disableInterval": false,
                                                        "width": "100%",
                                                            "height": "100%",
                                                                "symbol": "OANDA:EURUSD",
                                                                    "showIntervalTabs": true
                            }
                        </script>
                    </div>
                    <!-- TradingView Widget END -->
                </template>
            </div>

            <div class="widget-box">
                <button class="btn-copy">Скопировать код</button>

                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container">
                    <div class="tradingview-widget-container__widget"></div>
                    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
                        {
                            "colorTheme": "dark",
                                "displayMode": "single",
                                    "isTransparent": false,
                                        "locale": "en",
                                            "interval": "1m",
                                                "disableInterval": false,
                                                    "width": "100%",
                                                        "height": "100%",
                                                            "symbol": "OANDA:EURUSD",
                                                                "showIntervalTabs": true
                        }
                    </script>
                </div>
                <!-- TradingView Widget END -->

                <template>
                    <!-- TradingView Widget BEGIN -->
                    <div class="tradingview-widget-container">
                        <div class="tradingview-widget-container__widget"></div>
                        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
                            {
                                "colorTheme": "dark",
                                    "displayMode": "single",
                                        "isTransparent": false,
                                            "locale": "en",
                                                "interval": "1m",
                                                    "disableInterval": false,
                                                        "width": "100%",
                                                            "height": "100%",
                                                                "symbol": "OANDA:EURUSD",
                                                                    "showIntervalTabs": true
                            }
                        </script>
                    </div>
                    <!-- TradingView Widget END -->
                </template>
            </div>
        </div>
    </div>
</section>